<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="topdetails">
            <div class="owner">
                <h2>owner</h2>
                <p>
                    @<%=post.owner.username%>
                </p>
            </div>
            <div class="rating">
                <h1>★</h1>
                <h1>★</h1>
                <h1>★</h1>
                <h1>★</h1>
                <h1>★</h1>

            </div>
            <div class="rentedby right">
                <h2>rented by</h2>
                <p>@prakash meena</p>
            </div>
        </div>
        <div class="details">


            <div class="textdetails">
                    <h2><%= post.title%></h2>
                    <p><%= post.description%></p>
                    <!-- <div class="line">
                    <p>20 times</p>
                    <p>5000/Day</p>
                    <p>5 star rated</p>
                </div> -->
                <p>at  ₹<%= post.price %>/day </p>
                    <a href="">Send Request</a>


            </div>
            <img src="../uploads/<%=post.image%>" alt="">
        </div>
    </div>

    <div class="heading">
        <p>• more from the owner side •</p>
    </div>

    <div class="post-section">

        <!-- post-card.ejs -->


        <div class="post-card">
            <img src="../uploads/4278ffdb-3315-4f9b-a7ed-11c2c0203926.jpg" alt="Full power thrasher for easy ">
            <div class="post-details">
                <h2>
                    Full power thrasher for easy
                </h2>
                <p>
                    it is very powerfull machine to make your task easier rant it now with just 5000 rupees per day
                </p>
                <span>Price: 5000</span>
            </div>
        </div>

        <!-- More posts can be added dynamically -->


        <div class="post-card">
            <img src="../uploads/bd3af26d-5c7e-4477-a725-103719713904.jpg" alt="hight compressor tracter ">
            <div class="post-details">
                <h2>
                    hight compressor tracter
                </h2>
                <p>
                    it is very powerfull tractor with 5 gears and reverse gear also rent it now by just 2000 rupeees
                    per day
                </p>
                <span>Price: 2000</span>
            </div>
        </div>



        <div class="post-card">
            <img src="../uploads/71badd23-615a-4d2c-a22b-53d2efc28659.jpg" alt="very high pressure threasure machine ">
            <div class="post-details">
                <h2>
                    very high pressure threasure machine
                </h2>
                <p>
                    At just 3500 rupees per day with labour
                </p>
                <span>Price: 3500</span>
            </div>
        </div>

        <!-- More posts can be added dynamically -->


    </div>
</body>

</html>

<style>
    :root {
        --clr1: rgb(228, 250, 194);
    }


    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: rgb(255, 255, 245);
    }

    * {
        /* border: 1px solid red; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: calc(100vw - 20px);
        height: 500px;
        padding: 20px;
        margin-bottom: 30px;
        box-sizing: border-box;

    }

    .container img {
        height: 100%;
        box-shadow: inset 0px 0px 4px red;
        filter: sepia(1) hue-rotate(30deg);
        z-index: -1;
        max-width: 50%;
    }


    .topdetails {
        background-color: rgb(228, 250, 194);
        display: flex;
        width: calc(100vw - 60px);
        padding: 15px;
        border-left: 4px solid green;
        margin-bottom: 10px;
        border-right: 4px solid green;
        justify-content: space-between;
    }

    .topdetails h2 {
        color: rgba(0, 128, 0, 0.4);
        letter-spacing: 2px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: math;
    }

    .topdetails p {
        font-size: 25px;
        color: rgba(0, 128, 0, 0.9);
        cursor: pointer;
    }

    .topdetails p:hover {
        text-decoration: underline;
    }

    .right {
        text-align: right;
    }

    .details {
        height: calc(100% - 50px);
        /* border-bottom-right-radius: 50px; */

        display: flex;
        background: linear-gradient(to right, var(--clr1) 38%, var(--clr1), transparent, transparent);
        justify-content: space-between;
    }

    .rating h1 {
        color: rgb(220, 191, 46);
        font-size: 30px;
        cursor: pointer;
        /* text-shadow: 0px 4px 5px #2d2d2a33; */
        letter-spacing: 3px;
        display: inline-block;
        margin: 0;
    }

    .rating h1:nth-child(1) {
        animation: reveal 1s 1;
    }

    .rating h1:nth-child(2) {
        animation: reveal 1.3s 1;
    }


    .rating h1:nth-child(3) {
        animation: reveal 1.5s 1;
    }

    .rating h1:nth-child(4) {
        animation: reveal 1.7s 1;
    }

    .rating h1:nth-child(5) {
        animation: reveal 1.9s 1;
    }


    @keyframes reveal {
        from {
            transform: translateY(-100px) rotate(10deg);
            opacity: 0;
            /* scale: 3   ; */
        }
    }

    .textdetails {
        background-color: var(--clr1);
        width: -webkit-fill-available;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: start;
        text-align: start;
        border-bottom-right-radius: 50px;
        padding: 15px;
        justify-content: space-between;
    }

    .textdetails a {
        color: rgb(226, 255, 188);
        background: #162a16;
        text-decoration: none;
        font-size: 20px;
        text-transform: capitalize;
        font-family: math;
        padding: 10px 60px;
        border-radius: 7px;
    }

    .textdetails h2 {
        font-family: math;
        text-transform: capitalize;
        font-size: 44px;
        color: rgb(22, 99, 22);
        margin-bottom: 10px;
    }

    .textdetails p {
        font-size: 24px;
        color: rgba(0, 128, 0, 0.4);
    }

    .heading {
        /* background-color: white; */
        height: 80px;
        margin: 0px 20px;
        display: flex;
        align-items: center;

        justify-content: center;
    }

    .heading p {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;
        /* color: gray; */
    }

    .line {
        display: flex;
        /* background-color: red; */
        margin: 10px 0px;
        font-size: 26x;
    }

    .line p {
        color: rgb(32, 120, 10);
        padding: 0px 20px;
    }

    .line p:nth-child(2) {
        border-right: 2px solid rgb(0, 0, 0, .2);
        border-left: 2px solid rgb(0, 0, 0, 0.2);

    }

    .line p:nth-child(3) {
        padding-right: 0px;

    }


    .post-section {
        padding: 0px 20px;
        /* align-items: center;  */
        display: flex;
        /* background: linear-gradient(to top, rgba(128, 128, 128, 0.1), transparent); */
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 40px;
        border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        width: calc(100vw - 50px);
        font-weight: 100;
        letter-spacing: 3px;
        padding-top: 40px;
    }

    .post {
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .post h4 {
        margin-top: 0;
    }

    .create-post-btn {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #7cbc9c;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .create-post-btn:hover {
        background-color: #608573;
    }

    /* style.css */
    .post-card {
        border: 3px solid #ffffff;
        width: 300px;
        margin: 6px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background: linear-gradient(to top, white, white, white 39%, transparent, transparent, transparent);
        overflow: hidden;
    }

    .option h2 {
        position: absolute;
        top: 5px;
        font-size: 36px;
        color: white;
        font-weight: 100;
        right: 8px;
        filter: drop-shadow(0px 0px 5px 1px black);
    }

    .post-card img {
        width: -webkit-fill-available;
        position: relative;
        z-index: -1;
        /* filter: saturate(.5); */
        object-fit: cover;
        height: 230px;
    }

    .post-card:hover.post-card img {
        filter: none;
        transition: .6s;
    }

    .post-details {
        /* background-color: red;  */
        padding: 20px 10px;
        padding-top: 0px;
    }



    .post-details h2 {

        text-transform: capitalize;
        font-size: 20px;
        color: #4b4b4b;
        font-weight: lighter;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .post-details p {
        margin: 10px 0px;
        font-size: 16px;
        color: rgb(171, 171, 171);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /* Ensure text ends with dots */
        text-overflow: ellipsis;
    }

    .post-details span {
        /* font-weight: bold;
        color */
        border: 2px solid rgb(54, 142, 54);
        color: rgb(54, 142, 54);
        padding: 5px 10px;
        border-radius: 50px;
        font-size: 15px;
        /* color: rgb(255, 251, 214); */
    }

    /* Track */
    ::-webkit-scrollbar {
        width: 8px;
        /* width of the scrollbar */
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        /* color of the scrollbar handle */
        border-radius: 4px;
        /* roundness of the scrollbar handle */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* color of the scrollbar handle on hover */
    }
</style>